@model WebApp_Manha.Entidades.Categorias

<div class="row">
    <div class="col-md-4 offset-4">
        <div class="card">
            <div class="card-heard">
                <h4>Edição de Categoria</h4>
            </div>
            <div class="card-body">
                <form action="/Categorias/SalvarDados" method="post">
                    <label>Id</label>
                    <input type="text" readonly name="Id" value="@Model.Id" class="form-control" />  
                    
                    <br/>

                    <label>Nome</label>
                    <input type="text" name="Nome" value="@Model.Nome" class="form-control" />

                    <br/>

                    <label>Ativo</label>
                    <select name="Ativo" class="form-control">
                        @if (Model.Ativo)
                        {
                            <option value="true" selected="selected">Ativo</option>
                            <option value="false">Inativo</option>
                        }else
                        {
                            <option value="true">Ativo</option>
                            <option value="false" selected">Inativo</option>
                        }
                    </select>
                    <br />
                    <button type="submit" class="btn btn-success">
                        Salavar Categoria
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>