@model WebApp_Manha.Entidades.Permissao
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">

        @if (TempData["Erro"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Erro"]
            </div>
        }

        <div class="card">
            <div class="card-header">
                Cadastro de Categorias
            </div>
            <div class="card-body">
                <form action="/Permissao/SalvarDados" method="post">

                    <label>Descricao</label>
                    <input type="text" name="Descricao" class="form-control" />
                    <br />

                    <button type="submit" class=" btn btn-dark">
                        Salvar Permissão
                    </button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-4">
    </div>

</div>