@model List<WebApp_Manha.Entidades.Produtos>
@{
    ViewData["Title"] = "Home Page";
}


@*@foreach(var produto in Model)
{
     var teste = produto.ATIVO == true ? "Disponível" : "Fora de Estoque";

    <p>@produto.DESCRICAO - R$ @produto.VALOR - @teste</p>
}*@ 