@model List<WebApp_Manha.Entidades.Produtos>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var produto in Model)
{
     var teste = produto.ATIVO == true ? "Disponível" : "Fora de Estoque";

    <p>@produto.DESCRICAO - R$ @produto.VALOR - @teste</p>
}